<!DOCTYPE html>
<html>
  <head>
    <title>JobListing</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container-fluid">
      <%= render "common/navbar"%>
      <div style="height:55px;">
        <!-- 这个代码块是用于nav固定在首页的时候,独占空间；使用.navbar-fixed-top -->
      </div>
      <%= render :partial => "common/flashes"%>
      <%= yield %>
    </div>

    <%= render "common/footer"%>
  </body>
</html>
